@import "./color";


.bg-img {
    background-image: url('/img/img/brooke-lark-wMzx2nBdeng-unsplash.jpg');
    height: 460px;
    background-size: cover;
    background-position: center center;
}

.line-pointer,
.point-img {
    position: relative;
    height: 32px;
}

.line-pointer {
    margin-top: 148px;
}

.line-pointer::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 15%;
    right: 15%;
    background: $color-five;
    top: 50%;
    transform: translateY(-50%)
}

.point-img::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 10px;
    background: $color-five;
    border-radius: 50%;
    border: 1px solid $color-five;
    transform: translateX(-50%)
}



.point-img-non::after {
    background: $color-five;
    z-index: 1;

}

.h4 {
    font-weight: 900;
}

.btnFinish-lg {
    display: none;
}

@media(max-width:992px) {
    .btnFinish-lg {
        display: block;
    }

    .btnFinish {
        display: none;
    }
}